<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Términos y Condiciones - Piura Expressa</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:replace="fragments/layout :: header"></div>

    <main>
        <h1>Términos y Condiciones</h1>
        <p>Aquí se describen los términos y condiciones de uso del sitio web Piura Expressa.</p>
    </main>

    <div th:replace="fragments/layout :: footer"></div>
</body>
</html>
